body {
	background-color: #043D59;
	color: #fff;
	text-align: center;
}

.searchParamsCol {
	background-color: #222;
	border: solid 2px orange;
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
}

#searchButtonCol {
	background-color: #222;
	margin-top: 10px;
	margin-bottom: 10px;
}

#header {
	background-color: #222;
	border-bottom: solid 4px orange;
}

#header > p:nth-of-type(1) {
	color: orange;
	font-size: 60px;
	line-height: 55px;
	margin: 5px;
	margin-top: 14px;
}

#header > p:nth-of-type(1) > span:nth-of-type(2) {
	color: white;
}

#header > p:nth-of-type(2) {
	color: orange;
	font-size: 20px;
	margin-top: 0px;
}

#footer {
	background-color: #222;
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 20px;
	border-top: solid 4px orange;
}

#footer p {
	padding: 0px;
	margin: 5px;
}

#footer a {
	color: orange;
}

#footer img {
	margin: 5px;
	filter: hue-rotate(258deg);
}

.movieCell {
	background-color: #222;
	color: #fff;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: left;
	height: 230px;
	padding-right: 5px;
	cursor: pointer;
}

.movieCell > h4 {
	color: orange;
	padding-top: 5px;
}

.movieCell > h6:nth-of-type(1) strong {
	color: orange;
}

.movieCell > h6:nth-of-type(2) {
	color: orange;
}

.movieCell > h6:nth-of-type(2) strong {
	color: #fff;
}

#paginationDiv {
	display: none;
	background-color: #222;
	margin-top: 20px;
	padding: 10px;
	position: relative;
}

#tmdbLogo {
	width: 36px;
}

.genreItem {
	background-color: #000;
	display: inline-block;
	margin: 3px;
	padding: 5px;
	cursor: pointer;
}

.unselectable {
	-moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.optionDiv {
	margin: 5px;
}

.inputField {
	border: 1px solid #444;
	background-color: #eee;
	color: black;
	width: 75px;
}

.optionSpan {
	display: inline-block;
	width: 80px;
}

.sortOption {
	background-color: #222;
	margin: 3px;
	padding: 4px;
	cursor: pointer;
}

.sortOption:nth-of-type(1) {
	background-color: orange;
}

.searchParamsCol > p:nth-of-type(1) {
	font-size: 18px;
	margin-left: 3px;
	color: orange;
}

#findButton {
	background-color: orange;
	border: none;
	width: 100%;
	height: 50px;
	font-size: 20px;
}

.validationStar {
	display: none;
	color: orange;
}

#validationText {
	display: none;
	color: orange;
	margin-left: 3px;
}

#nothingFoundMessage {
	display: none;
}

#adultSettingsBox {
	background-color: #222;
	border: solid 2px orange;
	text-align: left;
	padding: 5px;
}

#adultSettingsBox > span {
	color: orange;
	font-size: 18px;
	margin-left: 3px;
}

#adultSettings {
	display: inline-block;
	text-align: center;
	background-color: orange;
	padding: 5px;
	margin-left: 5px;
	width: 50px;
	cursor: pointer;
}

.posterImg {
	height: 230px;
	float: left;
	margin-right: 5px;
}

.placeholderPoster {
	background-color: #333;
	text-align: center;
	width: 153.05px;
	height: 230px;
	float: left;
	margin-right: 5px;
	line-height: 230px;
}

.paddingRemover:nth-of-type(odd) {
	padding-left: 0px;
}

.paddingRemover:nth-of-type(even) {
	padding-right: 0px;
}

.pageLink {
	cursor: pointer;
	color: orange;
}

#firstPageLink {
	position: absolute;
	left: 15px;
}

#previousPageLink {
	margin-right: 25px;
}

#nextPageLink {
	margin-left: 25px;
}

#lastPageLink {
	position: absolute;
	right: 15px;
}





@media (max-width: 992px) {
  .paddingRemover {
		padding-right: 0px;
		padding-left: 0px;
	}
}