body {
	background-color: #246;
	color: #fff;
	text-align: center;
}

.searchParamsCol {
	background-color: #666;
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
}

#searchButtonCol {
	background-color: #222;
	margin-top: 10px;
	margin-bottom: 10px;
}

#header {
	background-color: #444;
}

#footer {
	background-color: #333;
}

.movieCell {
	background-color: #666;
}

#paginationDiv {
	background-color: #777;
}

#tmdbLogo {
	width: 36px;
}

.genreItem {
	background-color: #222;
	display: inline-block;
	margin: 3px;
	padding: 5px;
	cursor: pointer;
}

.unselectable {
	-moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.optionDiv {
	margin: 5px;
}

.inputField {
	border: 1px solid #444;
	background-color: #eee;
	color: black;
	width: 50px;
}

.optionSpan {
	display: inline-block;
	width: 80px;
}

.sortOption {
	background-color: #222;
	margin: 3px;
	padding: 5px;
	cursor: pointer;
}

#findButton {
	background-color: orange;
	border: none;
	width: 100%;
	height: 50px;
}